.reg-container {
	display: grid;
	grid-gap: 60px;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 100px 180px 180px 180px 15px;
	grid-template-areas:
		'header header header'
		'sidebar-1 content sidebar-2'
		'sidebar-1 content sidebar-2'
		'sidebar-1 content sidebar-2'
		'reg reg reg';
}

.register-head h1 {
	grid-area: header;
	font-size: 35px;
}

.itemnumber1 {
	border: solid white 4px;
	background-color: #1b4194c7;
	grid-area: sidebar-1;
}

.itemnumber2 {
	border: solid black 4px;
	color: white;
	text-align: center;
	grid-area: content;
	background-repeat: no-repeat;
	background-image: url(https://media.giphy.com/media/13AK9gO1EHko5q/giphy.gif);
	background-repeat: round;
}
.itemnumber3 {
	border: solid white 4px;
	background-color: #1b4194c7;
	grid-area: sidebar-2;
}

.reg-footer {
	background-color: rgba(243, 234, 217, 0.096);
	grid-area: reg;
	color: rgb(241, 233, 233);
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
}

@media (max-width: 700px) {
	.reg-container {
		grid-template-areas:
			'content content content'
			'content content content'
			'content content content'
			'sidebar-1 sidebar-2 sidebar-2'
			'footer footer footer';
	}
	.itemnumber3 {
		background-image: url(https://img0.etsystatic.com/135/1/5362874/il_340x270.908723908_3cnz.jpg);
	}
}
